<div class="row">
    <div class="col l6">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">library_books </i>Tema 1. Spring Core</div>
                <div class="collapsible-body">
                    <span>Contenidos del Tema</span>

                    <ul class="collection">
                        <li class="collection-item">1. Introducción a Spring e instalación inicial</li>
                        <li class="collection-item">2. Qué es IoC e Inyección de dependencias</li>
                        <li class="collection-item">3. Ejemplo de IoC e Inyección en Java</li>
                        <li class="collection-item">4. Ejercicio</li>
                        <li class="collection-item">5. Ciclo de vida de los Beans </li>
                        <li class="collection-item">6. Ejercicio por anotaciones</li>
                        <li class="collection-item">7. Ejercicio por xml</li>
                        <li class="collection-item">8. Configuración por Anotación VS XML</li>
                        <li class="collection-item">9. Ejercicio</li>
                        <li class="collection-item">10. Ejemplo de IoC e Inyección en Spring</li>
                        <li class="collection-item">11. Ejercicio final </li>
                    </ul>
                    <hr>
                    <br><br>
                    <p>Tu progreso:</p>
                    <div class="progress tooltipped" data-position="top" data-tooltip="Llevas superado un 70% del tema">
                        <div class="determinate deep-purple lighten-1" style="width: 70%"></div>
                    </div>
                    <a class="waves-effect waves-light btn right"><i
                            class="material-icons right">arrow_forward</i>Estudiar</a>
                    <br>
                </div>





            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">library_books </i>Tema 2. Spring MVC </div>
                <div class="collapsible-body">
                    <span>Contenidos del Tema</span>

                    <ul class="collection">
                        <li class="collection-item"> 1. Qué es MVC? Cómo funciona (teórico)? Que otros patrones existen?
                        </li>
                        <li class="collection-item"> 2. Spring MVC framework: Controllers, Handlers, Request Mapping
                        </li>
                        <li class="collection-item"> 3. Ejercicio01 </li>
                        <li class="collection-item"> 4. Ejercicio02 </li>
                        <li class="collection-item"> 5. Ejercicio03 </li>
                        <li class="collection-item"> 6. Ejercicio04 </li>
                        <li class="collection-item"> 7. Ejercicio05 </li>
                        <li class="collection-item"> 8. Spring MVC: Forms, DataBinding, Form Validation </li>
                        <li class="collection-item"> 9. Ejercicio práctico indivual: formulario con validaciones </li>

                    </ul>
                    <hr>
                    <br><br>
                    <p>Tu progreso:</p>
                    <div class="progress tooltipped" data-position="top" data-tooltip="Llevas superado un 0% del tema">
                        <div class="determinate deep-purple lighten-1" style="width: 0%"></div>
                    </div>
                    <p class="left primero">Para estudiar este tema, antes debes acabar el anterior.</p>
                    <br>
                    <a class="waves-effect waves-light btn right disabled"><i
                            class="material-icons right">arrow_forward</i>Estudiar</a>
                    <br>
                    <br>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">library_books </i>Tema 3. JPA, Hibernate y
                    Spring Data JPA</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">library_books </i>Tema 4. Angular </div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">library_books </i>Tema 5. REST y Spring Rest
                </div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">library_books </i>Tema 6. Integración Front
                    Angular + Backend REST Spring </div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">library_books </i>
                    Angular + Backend REST Spring </div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>

        </ul>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>