<div class="row">
  <div class="col-md-8">
    <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar por título" [(ngModel)]="titulo" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="buscarTitulo()">Buscar</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar por descripcion" [(ngModel)]="descripcion" />
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="buscarDescripcion()">Buscar</button>
          </div>
      </div>
  </div>

  <div class="col-md-8">
    <div class="input-group mb-3">
        <input type="date" class="form-control" placeholder="Buscar por fechaInicio" [(ngModel)]="fechaInicio" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="buscarFechaInicio()">Buscar</button>
        </div>
    </div>
</div>

<div class="col-md-8">
  <div class="input-group mb-3">
      <input type="date" class="form-control" placeholder="Buscar por fechaFin" [(ngModel)]="fechaFin" />
      <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="buscarFechaFin()">Buscar</button>
      </div>
  </div>
</div>

<div class="col-md-8">
  <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar por iniciativa" [(ngModel)]="iniciativa" />
      <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="buscarIniciativa()">Buscar</button>
      </div>
  </div>
</div>

    <table *ngIf="temas?.length" class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Iniciativas</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tema of temas">
            <td>{{ tema.titulo }}</td>
            <td>{{ tema.descripcion}}</td>
            <td>{{ tema.fechaInicio }}</td>
            <td>{{ tema.fechaFin}}</td>
            <td>{{ tema.iniciativa}}</td>
            <td>
                <a class="badge badge-warning" routerLink="/temas/{{ tema.id }}">Editar</a>
                <button class="badge badge-danger mr-2" (click)="eliminarTemas()">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button routerLink="/agregar" class="m-3 btn btn-sm btn-primary">Nuevo</button>
      <button class="m-3 btn btn-sm btn-danger" (click)="eliminarTodosTemas()">Eliminar todo</button>
  
</div>