<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Prueba</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="temas" class="nav-link">Temas Admin</a>
      </li>
      <li class="nav-item">
        <a routerLink="agregar" class="nav-link">Agregar</a>
      </li>
      <li class="nav-item">
        <a routerLink="temasalumnos" class="nav-link">Temas Alumnos</a>
      </li>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
